body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Img/background2.png);
    background-size: cover;
    background-attachment: fixed;
}

main,
header {
    margin-top: 20px;

    width: 60%;
    border: black solid 1px;
    border-radius: 20px;
    backdrop-filter: blur(10px);

    nav {
        display: flex;
        justify-content: center;
    }

    ul {
        display: flex;
        gap: 100px;
        list-style: none;
        align-items: center;
    }

    nav img {
        height: 100px;
    }

    img {
        height: 200px;
    }

    div {
        display: flex;
        gap: 20px;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    p,
    h1,
    h2,
    li {
        color: aliceblue;
    }

    a {
        color: aliceblue;
        text-decoration: none;
    }
}