/* CSS Here */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main{
    section:first-child{
        background-image: url(background-purple.jpg);
        height: 1000px;
        background-size: 100% auto;
        nav{
            display: flex;
            img{
                width: 350px;
                margin: 30px;
            }
            ul{
                display: flex;
                padding: 0;
                margin-left: auto;
                margin-right: auto;
                li{
                    display: flex;
                    align-items: center;
                    margin-right: 100px;
                    margin-left: 100px;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 17px;
                        font-weight: bold;
                        transition: 0.4s;
                    }
                    a:hover{
                        color: rgb(227, 166, 255);
                    }
                }
            }
        }
        div{
            display: flex;
            flex-direction: column;
            h1{
                font-size: 35px;
                color: white;
                margin-left: auto;
                margin-right: auto;
                margin-top: 320px;
                width: 600px;
                text-align: center;
            }
            button{
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
                width: 250px;
                height: 40px;
                font-size: 15px;
                color: rgb(85, 0, 196);
                border: none;
                border-radius: 13px;
                transition: 0.4s;
            }
            button:hover{
                background-color: rgb(85, 0, 196);
                color: white;
                width: 270px;
            }
        }
        
        
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    a{
        color: white;
        font-size: 17px;
        text-decoration: none;
        margin: 10px;
        margin-left: 0;
        text-decoration: underline;
        transition: 0.4s;
    }
    a:hover{
        font-size: 18px;
        color: wheat;
    }
    h3{
        font-size: 23px;
    }
    p{
        margin: 0;
    }
    ul{
        margin: 0;
    }
    >div:first-child{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div{
            display: flex;
            flex-direction: column;
            width: 250px;
            ul{
                list-style: none;
                padding: 0;
            }
            button{
                margin-top: 30px;
                margin-bottom: 30px;
                height: 35px;
                width: 150px;
                font-weight: bold;
                transition: 0.4s;
                border-radius: 8px;
                border: none;
            }
            button:hover{
                background-color: red;
                color: white;
            }
            
        }
        div:last-child {
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 50px;
                li{
                    margin: 10px;
                }
            }
        }
    }
    >div:last-child {
        margin-left: auto;
        margin-right: auto;
            ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            li{
                margin: 10px;
            }
        }
    }
}
